@emerald:registry=https://pkgs.dev.azure.com/cbre/_packaging/Emerald/npm/registry/
@emerald-angular:registry=https://pkgs.dev.azure.com/cbre/_packaging/Emerald-Angular/npm/registry/
//pkgs.dev.azure.com/cbre/_packaging/Emerald/npm/registry/:_authToken=${AZURE_PAT}
//pkgs.dev.azure.com/cbre/_packaging/Emerald-Angular/npm/registry/:_authToken=${AZURE_PAT}